{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": {{ .Site.BaseURL | jsonify }}
    }
    {{- $position := 2 -}}
    {{- range .Ancestors.Reverse -}}
    {{- if not .IsHome -}}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- $position = add $position 1 -}}
    {{- end -}}
    {{- end -}}
    {{- if .Title -}}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": {{ .Title | jsonify }},
      "item": {{ .Permalink | jsonify }}
    }
    {{- end -}}
  ]
}
</script>
{{- end -}}
