{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }
    {{- $position := 2 -}}
    {{- range .Ancestors.Reverse -}}
    {{- if not .IsHome -}}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{- $position = add $position 1 -}}
    {{- end -}}
    {{- end -}}
    {{- if .Title -}}
    ,{
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{- end -}}
  ]
}
</script>
{{- end -}}
