<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ (.Site.Params.brand.name | default .Site.Title) | jsonify }},
  "url": {{ .Site.BaseURL | jsonify }},
  "description": {{ .Site.Params.description | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ (.Site.Params.brand.name | default .Site.Title) | jsonify }}
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": {{ printf "%s?q={search_term_string}" .Site.BaseURL | jsonify }}
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
